<!DOCTYPE html>
<html>
<head>
	<title th:if="${game}" th:inline="text">[[${game.getName()}]] </title>
</head>
<body bgcolor="#92C7C7" ng-app="">
	<div style="text-align:right;">
<a href="/home">Home</a>
<a href="">About Us</a>
<a href="">Contact</a>
<a href="/log">Log Out</a>
</div>


<div class="styleform">
<fieldset id="inputs">
<p th:if="${teacher}" th:inline="text">Teacher [[${teacher.getAccount().getName()}]]</p>
<p th:if="${student}" th:inline="text">Student [[${student.getAccount().getName()}]]</p>
</fieldset>
<fieldset id="actions">
</fieldset>
</div>
<script>
function myFunction() {
    var x = document.getElementById('myDIV');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

<div style="text-align:center;">
	<p  th:if="${game}" th:inline="text">[[${game.getName()}]]</p>
	<button th:if="${self}" onclick="myFunction()">Add Game Collaborator</button>
	<input  th:if="${edit}" type="submit" value="Edit Game"></input>
	<a href="/cancel"><button th:if="${do}" >Cancel Game</button></a>
	<a href="/uncancel"><button th:if="${undo}" >UnDo Cancel Game</button></a>
	<a href="/copy"><button th:if="${copy}" >Copy Game</button></a>
	<div id="myDIV" style="display: none; text-align:left;">
		<div class="styleform">
		<fieldset id="inputs">
		<H1>Add New Game Collaborator</H1>
		<form method="POST" action="/cob" th:if="${not #arrays.isEmpty(account)}">
			  <label>Email Teacher </label>
			  <select name="temail" >
			    <option th:each ="game : ${account}" th:text="${game}"></option>
			  </select>
			  <br></br>
			  <label>ID Game</label>
			  <select name="Id" >
			    <option th:if="${game}" th:inline="text" >[[${game.getID()}]]</option>
			  </select>
			  <input type="submit" value="Add" ></input>
		</form>
		<p th:if="${#arrays.isEmpty(account)}">No Teacher in System </p>
		</fieldset>
		<fieldset id="actions">
		</fieldset>
		</div>
	</div>
</div>

	<div th:if="${play}" class="styleform">
	<fieldset id="inputs">
		<form  action="/tfresult">

		<div class="styleform">
    	<fieldset id="inputs">
		<p th:if="${truefalse}" th:inline="text">[[${truefalse[0].getQuestion()}]] </p>
		<input type="radio" name="q1" value="true" id="q1a"></input><label for="q1a">True</label>
		<input type="radio" name="q1" value="false" id="q1b"></input><label for="q1b">False</label><br></br>
    	</fieldset>
    	<fieldset id="actions">
    	</fieldset>
	    </div>

		<div class="styleform">
    	<fieldset id="inputs">
		<p th:if="${truefalse}" th:inline="text">[[${truefalse[1].getQuestion()}]] </p>
		<input type="radio" name="q2" value="true" id="q1a"></input><label for="q1a">True</label>
		<input type="radio" name="q2" value="false" id="q1b"></input><label for="q1b">False</label><br></br>
		</fieldset>
    	<fieldset id="actions">
    	</fieldset>
	    </div>

		<div class="styleform">
    	<fieldset id="inputs">
		<p th:if="${truefalse}" th:inline="text">[[${truefalse[2].getQuestion()}]] </p>
		<input type="radio" name="q3" value="true" id="q1a"></input><label for="q1a">True</label>
		<input type="radio" name="q3" value="false" id="q1b"></input><label for="q1b">False</label><br></br>
		</fieldset>
    	<fieldset id="actions">
    	</fieldset>
	    </div>

	    <div class="styleform">
    	<fieldset id="inputs">
		<p th:if="${truefalse}" th:inline="text">[[${truefalse[3].getQuestion()}]] </p>
		<input type="radio" name="q4" value="true" id="q1a"></input><label for="q1a">True</label>
		<input type="radio" name="q4" value="false" id="q1b"></input><label for="q1b">False</label><br></br>
		</fieldset>
    	<fieldset id="actions">
    	</fieldset>
	    </div>

		<div class="styleform">
    	<fieldset id="inputs">
		<p th:if="${truefalse}" th:inline="text">[[${truefalse[4].getQuestion()}]] </p>
		<input type="radio" name="q5" value="true" id="q1a"></input><label for="q1a">True</label>
		<input type="radio" name="q5" value="false" id="q1b"></input><label for="q1b">False</label><br></br>
		</fieldset>
    	<fieldset id="actions">
    	</fieldset>
	    </div>

		<div style="text-align:center;"><input type="submit" value="Submit"></input></div>
		</form>
		</fieldset>
   		<fieldset id="actions">
  		</fieldset>
		</div>
	<div th:if="${degree}" th:inline="text">
		<H1>Your Score : [[${degree}]]</H1>
		</div>
		<div th:if="${scoree}" >
		<table border="4" cellpadding="2" 
			cellspacing="2" width="100%">
		<tr >
			<td>High Score</td>
			<td>Name</td>
		</tr>
		<tr th:if="${game}"  th:inline="text">
			<td>[[${game.getHighScore()}]]</td>
			<td>[[${game.getNameHighScore()}]]</td>
		</tr>
		</table>
	</div>
	<div th:if="${scoree}">
		<div>
			<form action ="/addcomment" th:if="${student}" th:inline="text" style="text-align:center;">
				<input type="text" name="comment1" placeholder="Enter your Comment" required="d"></input>
				<br></br>
				<input type="text" name="to" value="dd" placeholder="Enter your Comment" style="display: none;"></input>
				<input type="submit" value="Add Comment"></input>
			</form>
			<form action ="/addcomment" th:if="${teacher}" th:inline="text" style="text-align:center;">
				<input type="text" name="comment1" placeholder="Enter your Comment" required="d"></input>
				<br></br>
				<input type="text" name="to" placeholder="Enter Email of student" required="df"></input>
				<br></br>
				<input type="submit" value="Add Comment"></input>
			</form>
		</div>
		<div th:if="${not #arrays.isEmpty(comments)}">
			<table border="4" cellpadding="2" 
			cellspacing="2" width="100%">
			<tr >
				<td>Comment</td>
				<td>Email</td>
			</tr>
			<tr th:each ="comment : ${comments}">
				<td th:text="${comment.getText()}"></td>
				<td th:text="${comment.getEmail()}"></td>
			</tr>
			</table>
		</div>
		<div th:if="${#arrays.isEmpty(comments)}" class="styleform">
		<fieldset id="inputs">
			<p>No Comment</p>
	    </fieldset>
        <fieldset id="actions">
        </fieldset>
		</div>
	</div>
</body>
</html>