<!DOCTYPE html>
<html>
	<head>
		<title>
			WELCOME
		</title>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
	<body bgcolor="#2C3539" ng-app="">
	<form name="my" method="post" action="/login">
		<label><font color="white">Email</font></label>
		<input type="Email" name="name12"  placeholder="Enter You Email" required="hello"></input>
		<label><font color="white">Password</font></label>
		<input type="password" name="pass"  placeholder="Enter Password" required="hello"></input> 
		
		<input type="submit" value="Log In"></input>
		<p th:if="${error1}" th:inline="text">[[${error1}]]</p>		
	</form>
		<h1><b><font color="white">Create a new account</font></b></h1>
		<div class="styleform">
         	<fieldset id="inputs">
		<form name = 'myForm' method='POST' action="/regisiter">
			<div style="text-align:lift;">
			<label>
				<font color="white"><b><pre>Name</pre></b></font>
			</label>
			<input type="text" name="name1"  placeholder="Enter Your Name" ng-model="name1" required="hello"></input></div>
			<br></br>
			<div style="text-align:lift;"><label><font color="white"><b><pre>Email</pre></b></font></label>
			<input type="Email" name="name12"  placeholder="Enter Your Email" ng-model="email" required="hello"></input>
			<p th:if="${error}" th:inline="text">[[${error}]]</p></div>
			<br></br>
			<div style="text-align:lift;"><label><font color="white"><b><pre>Password</pre></b></font></label>
			<input type="password" name="password"  placeholder="Enter Your Password" ng-model="password" required="hello"></input></div>
			<br></br>
			<div style="text-align:left;"><label><font color="white"><b><pre>Age</pre></b></font></label>
			<input type="number" name="age"  placeholder="Enter Your Age" ng-model="age" required="hello"></input></div>
			<br></br>
			<div style="text-align:lift;"><label><font color="white"><b><pre>phone</pre></b></font></label>
			<input type="text" name="phone"  placeholder="+02" ng-model="phone" required="hello"></input></div>
			<br></br>
			<div style="text-align:lift;"><label><font color="white"><b><pre>Country</pre></b></font></label>
			<input type="text" name="country"  placeholder="Enter Your Country" ng-model="country" required="hello"></input></div>
			<br></br>
			<div style="text-align:lift;"><label><font color="white"><b>Rule</b></font></label>
			<select name="role">
			<option>student</option>
			<option>teacher</option>
		        </select></div>
			<br></br>
			<div style="text-align:center;"><input type = "submit" name = "reg" value = "Regesteration"></input></div>
	        	</form>
	      	        </fieldset>
    			<fieldset id="actions">

    			</fieldset>
    			</div>
			</body>
</html>